/*Images or object scalable with device. */
img, object, embed, video {
	max-width: 100%;
}
	
/* Mobile Layout: 480px*/
.gridContainer {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFFF;
	background-size: auto;
	border-color: #999999;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 1.82%;
	padding-right: 1.82%;*/
	}
	
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}

/* Desktop Layout: 769px to a max of 1232px.*/

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1200px;
	padding-left: 1.9%;
	padding-right: 1.9%;
	margin: auto;
	}
	
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}